@import "./base.css";

.hero-section {
  display: flex;

  align-items: center;

  justify-content: space-around;

  color: white;
  background-color: var(--navy-blue);
}
header {
  display: flex;

  padding: 16px;
  background-color: var(--navy-blue);
}
.random-info-section {
  display: flex;
  background-color: white;

  padding: 16px;
}
.info-image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: auto;
  gap: 5%;
}
.info-image {
  border: 4px solid var(--light-blue);
  border-radius: 8px;

  height: 150px;
  width: 200px;
  flex: auto;
}
footer {
  height: 50px;
  background-color: var(--navy-blue);

  text-align: center;
}
.hero-message-container {
  text-align: center;
  flex: auto;
}
.image-placeholder-container {
  flex: auto;
}

.image-placeholder {
  width: 400px;
  height: 200px;

  background-color: grey;

  text-align: center;

  margin: auto;
}
.call-to-action-section {
  display: flex;
  background-color: white;
}
section {
  height: 500px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: white;
}
.quote-section {
  background-color: #e5e7eb;

  padding: 16px;
}

.header-logo {
  margin-right: auto;
}
.header-links {
  display: flex;
  gap: 16px;
}
.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

body {
  margin: 0;

  font-family: "Roboto", sans-serif;
  /* default text color */
  color: white;
  background-color: var(--navy-blue);

  font-family: "Roboto", "Times New Roman", Times, serif;
}
